.what-grid {
  display: grid;
  margin: 0px 5px 5px 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'what-intro'
    'gath-h3'
    'gath-img'
    'gath-intro'
    'golden-symbol'
    'upper-left-right-grid'
    'circle-intro'
    'create-circle-pic'
    'join-explained'
    'people-pic'
    'icons-intro'
    'top-icons-grid'
    'icon-list-grid'
    'video-options'
    'audio-options'
    'chat-pic'
    'chat-explained'
    'the-rest';
}

.what-intro {
  grid-area: what-intro;
}

.gath-h3 {
  grid-area: gath-h3;
}

.gath-img {
  grid-area: gath-img;
  margin-top: 30px;
  margin-bottom: 10px;
}

.gath-intro {
  grid-area: gath-intro;
}

.golden-symbol {
  justify-self: left;
}

.name-pic {
  justify-self: end;
}

.circle-intro {
  grid-area: circle-intro;
}

.join-explained {
  grid-area: join-explained;
  justify-content: start;
}

.create-circle-pic {
  margin: 40px 0px 0px 0px;
  grid-area: create-circle-pic;
}

.options-pic {
  margin-top: 30px;
  margin-bottom: 10px;
}

.video-options {
  grid-area: video-options;
}

.audio-options {
  grid-area: audio-options;
}

.people-pic {
  margin: 40px 0px 0px 0px;
  grid-area: people-pic;
}

.chat-pic {
  margin: 40px 0px 0px 0px;
  grid-area: chat-pic;
}

.chat-explained {
  grid-area: chat-explained;
}

.icons-intro {
  grid-area: icons-intro;
}

.icon-list-grid {
  grid-area: icon-list-grid;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto;
}

.icon-list-grid img {
  padding-top: 0px;
  justify-self: center;
}

.icon-list-grid p {
  margin-top: 0;
  padding-top: 0px;
  vertical-align: top;
}

.list-space {
  padding-top: 30px;
}

.the-rest {
  grid-area: the-rest;
}

.upper-left-grid {
  grid-template-rows: 30px 1fr;
}

.upper-right-grid {
  grid-template-rows: 30px 1fr;
}

.upper-left-right-grid {
  grid-area: upper-left-right-grid;
  display: grid;
  grid-column-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  grid-template-areas: 'upper-left-grid upper-right-grid'
                       'upper-left-grid upper-right-grid'
}

.top-icons-grid {
  margin-top: -8px;
  grid-area: top-icons-grid;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  margin-bottom: 50px;
  background: black;
  padding-top: 6px;
  padding-bottom: 6px;
}

@media (min-width: 640px) {

  .upper-left-right-grid {
  grid-template-rows: 1fr 1fr;
    grid-template-areas: 'upper-left-grid upper-left-grid'
                         'upper-right-grid upper-right-grid'
  }

  .what-grid {
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'what-intro what-intro'
      'gathering-grid gathering-grid'
      'circle-intro circle-intro'
      'join-explained create-circle-pic'
      'join-explained people-pic'
      'join-explained people-pic'
      '. people-pic'
      'icons-intro icons-intro'
      'top-icons-grid top-icons-grid'
      'icon-list-grid icon-list-grid'
      "video-options video-options"
      "audio-options audio-options"
      'chat-explained chat-pic'
      'the-rest the-rest';
  }

  .gathering-grid {
    grid-area: gathering-grid;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'gath-h3 gath-h3'
      'gath-img gath-img'
      'gath-intro gath-intro'
      'upper-left-right-grid upper-left-right-grid'
      'upper-left-right-grid upper-left-right-grid';
  }
}

@media (min-width: 1200px) {
  .what-grid {
    margin-left: 180px;
    grid-template-columns: 500px 220px;
    grid-template-areas: '. what-intro what-intro'
      'gathering-grid gathering-grid'
      'circle-intro circle-intro'
      'create-circle-pic people-pic'
      'join-explained people-pic'
      'join-explained people-pic'
      'icons-intro icons-intro'
      'top-icons-grid top-icons-grid'
      'icon-list-grid icon-list-grid'
      "video-options video-options"
      "audio-options audio-options"
      'chat-explained chat-pic'
      'the-rest the-rest';
  }

  .gathering-grid {
    grid-area: gathering-grid;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'gath-h3 gath-h3'
      'gath-img gath-img'
      'gath-intro gath-intro'
      'upper-left-right-grid upper-left-right-grid';
  }
}
